*, *::after, *::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 55%);
  --very-dark-gray: hsl(0, 0%, 41%);
}
html { font-size: 100%; }
body {
  font-family: 'Alata', sans-serif;
  /*font-family: 'Josefin Sans', sans-serif;*/
  font-size: .875rem;
  font-weight: 400;
}
body.noscroll { overflow: hidden; }
@media (min-width: 59.375em) {
  body { font-size: 1.85rem; }
  a { cursor: pointer !important; }
}
.nav,
section,
.foot-link-cont {
  max-width: 1125px;
  margin: auto;
  padding: 1.4em;
}
.header,
.main,
.footer {
  max-width: 1440px;
  margin: auto;
}
a { 
  cursor: none;
  text-decoration: none;
  position: relative;
}
ul li:not(.social-links li) { 
  overflow: hidden;
  height: max-content;
  z-index: 9;
}
a:not(.logo, .btn-see-all, .btn-see-all-top) {
  padding: .25em;
  transition: .2s; 
  display: inline-block;
}
a:not(.logo, .btn-see-all, .btn-see-all-top, .social-link)::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: -100%;
  background: var(--white);
  transition: .2s; 
  z-index: -1;
}
a:not(.logo, .btn-see-all, .btn-see-all-top):hover::before { left: 0; }
a:not(.logo, .btn-see-all, .btn-see-all-top):hover { color: var(--black); }

.social-link::after {
  content: "";
  display: block;
  width: 1.6rem;
  height: .0925rem;
  position: absolute;
  left: 50%;
  bottom: -20%;
  transform: translateX(-50%);
  background: var(--white);
  opacity: 0;
  transition: .2s;
  z-index: 9;
}
.social-link:hover::after { opacity: 1; }
ul { list-style: none; }
h2 {
  padding: .86em 0 .75em 0;
  color: var(--black);
  font-size: 1.85rem;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  text-align: center;
}
p {
  color: var(--dark-gray);
  font-size: 1rem;
  line-height: 1.6;
}

.header {
  min-height: 40em;
  position: relative;
}
.header::after {
  content: "";
  display: block;
  min-height: 40em;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: url(img/mobile/image-hero.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  z-index: -1;
}
.nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo { 
  z-index: 3;
  padding-bottom: .25em;
  position: relative;
  overflow: hidden;
}
.logo img { width: 8.2rem; }
.logo::before {
  content: "";
  display: block;
  width: 51%;
  height: .0925rem;
  background: var(--white);
  position: absolute;
  left: -60%;
  bottom: 0;
  transition: .2s;
}
.logo::after {
  content: "";
  display: block;
  width: 51%;
  height: .0925rem;
  background: var(--white);
  position: absolute;
  right: -60%;
  bottom: 0;
  transition: .2s;
}
.logo:hover::before { left: 0; }
.logo:hover::after { right: 0; }

.nav-links {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: fixed;
  inset: 0;
  z-index: 2;
  background: black;
  transition: .2s ease-out;
  opacity: 0;
  pointer-events: none;
}
.nav-links.show {
  opacity: 1;
  pointer-events: all;
}
.nav-links li { margin: 0.2rem 1.4rem; }
.nav-link {
  color: var(--white);
  font-size: 1.4rem;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  font-weight: 300;
}
.burger-btn { z-index: 3; }
.title-cont {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.main-title {
  padding: .5em;
  color: var(--white);
  font-size: 2.4rem;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
  width: min-intrinsic;
  width: -webkit-min-content;
    width: -moz-min-content;
    width: min-content;
    display: table-caption;
    display: -ms-grid;
    -ms-grid-columns: min-content;
    position: relative;
    transition: color .4s;
    overflow: hidden;
}
.main-title::before {
  content: "";
  display: block;
  width: 130%;
  height: 110%;
  position: absolute;
  top: -100%;
  left: -100%;
  transform: rotate(-33deg);
  z-index: -1;
  transition: .3s;
  background: var(--white);
}
.main-title::after {
  content: "";
  display: block;
  width: 130%;
  height: 100%;
  position: absolute;
  bottom: -100%;
  right: -110%;
  transform: rotate(-33deg);
  background: var(--white);
  z-index: -1;
  transition: .3s;
}
.main-title:hover::before {
  top: -46%;
  left: -26%;
}
.main-title:hover::after {
  bottom: -46%;
  right: -26%;
}
.main-title:hover { color: var(--black); }

@media (min-width: 59.375em) {
  h2 { font-size: 2.6rem; }
  .header {min-height: 22em; }
  .header::after { 
    min-height: 22em;
    background: url(img/desktop/image-hero.jpg);
    background-repeat: no-repeat;
    background-size: cover;
  }
  .nav { justify-content: space-between; }
  .logo img { width: 9rem; }
  .nav-links {
    width: 40%;
    justify-content: space-between;
    flex-direction: row;
    position: inherit;
    opacity: 1;
    pointer-events: all;
    background: none;
  }
  .nav-links li { margin: 0; }
  .nav-link {
    font-size: 1rem;
    font-family: 'Alata', sans-serif;
    text-transform: capitalize;
    font-weight: 400;
  }
  .burger-btn { display: none; }
  .title-cont {
    top: 42%;
    left: 12rem;
    transform: translate(0);
  }
  .main-title {
    width: 8.25em;
    font-size: 4.24rem;
    display: inline-block;
    
  }
}


.vr-sect {
  padding-top: 6em;
  padding-bottom: 6em;
  background: var(--white);
  }
.vr-txt { text-align: center; }
.vr-sect img { width: 100%; }
@media (min-width: 59.375em) {
  .main { background: var(--white); }
  .vr-sect { 
    position: relative;
    padding-left: 0;
    padding-bottom: 0;
  }
  .vr-sect img { 
    width: 70%; 
    margin-right: auto;
  }
  .vr-txt {
    max-width: 20em;
    position: absolute;
    right: 0;
    bottom: 0;
    padding: 2.6em;
    padding-bottom: 0;
    padding-right: 2em;
    background: var(--white);
    text-align: start;
  }
  .vr-txt h2 { 
    padding-top: 0; 
    text-align: start;
  }
}

.creation-sect {
  padding-top: 4em;
  padding-bottom: 6em;
}
.subtitle-btn { margin: 2rem 0; }
.creation-sect h2 { color: var(--white); }
h3 {
  color: var(--white);
  font-size: 1.4rem;
  font-weight: 300;
  font-family: 'Josefin Sans', sans-serif;
  text-transform: uppercase;
}
.creation-contain {
  display: grid;
  grid-template-columns: 1fr;
  gap: 1.4rem;
  margin-bottom: 2rem;
}
.creation-incont {
  min-height: 7rem;
  position: relative;
  transition: .4s;
}
.creation-incont::after {
  content: "";
  display: block;
  position: absolute;
  inset: 0;
  background: linear-gradient(to right, rgba(0,0,0,.3), rgba(0,0,0,0));
}
.creation-incont h3 {
  width: 5em;
  position: absolute;
  left: 1.4rem;
  bottom: 1.25rem;
  overflow-wrap: break-all;
  z-index: 2;
}


.creation-incont:nth-child(1) {
  background: url(img/mobile/image-deep-earth.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.creation-incont:nth-child(2) {
  background: url(img/mobile/image-night-arcade.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.creation-incont:nth-child(3) {
  background: url(img/mobile/image-soccer-team.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.creation-incont:nth-child(4) {
  background: url(img/mobile/image-grid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.creation-incont:nth-child(5) {
  background: url(img/mobile/image-from-above.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.creation-incont:nth-child(6) {
  background: url(img/mobile/image-pocket-borealis.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.creation-incont:nth-child(7) {
  background: url(img/mobile/image-curiosity.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.creation-incont:nth-child(8) {
  background: url(img/mobile/image-fisheye.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.btn-cont { 
  margin-top: 2rem;
  margin: auto; 
  width: max-content;
  overflow: hidden;
}
.btn-see-all,
.btn-see-all-top {
  color: var(--white);
  font-size: 1rem;
  padding: .4em 2.4em;
  border: .075rem solid var(--white);
  text-transform: uppercase;
  text-align: center;
  display: inline-block;
  letter-spacing: 4px;
  word-spacing: 4px;
  transition: all .2s;
}
.btn-see-all::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  bottom: 100%;
  background: var(--white);
  transition: .2s;
  z-index: -1;
}
.btn-see-all:hover::before { bottom: 0; }
.btn-see-all:hover { color: var(--black); }

.btn-see-all-top::before {
  content: "";
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  left: 100%;
  bottom: 0;
  background: var(--black);
  transition: .2s;
  z-index: -1;
}
.btn-see-all-top {
  color: var(--black);
  border-color: var(--black);
}
.btn-see-all-top:hover::before { left: 0; }
.btn-see-all-top:hover { color: var(--white); }
.btn-cont-top {
  display: none;
  overflow: hidden;
}

@media (min-width: 59.375em) {
  .subtitle-btn {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .btn-cont-top { 
    display: block;
    z-index: 999;
    
  }
  .creation-sect h2 {
    color: var(--black);
    text-align: start;
  }
  .creation-contain { grid-template-columns: repeat(4, 1fr); }
  .creation-incont { min-height: 28rem; }
  .creation-incont:nth-child(1) {
  background: url(img/desktop/image-deep-earth.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.creation-incont:nth-child(2) {
  background: url(img/desktop/image-night-arcade.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.creation-incont:nth-child(3) {
  background: url(img/desktop/image-soccer-team.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.creation-incont:nth-child(4) {
  background: url(img/desktop/image-grid.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.creation-incont:nth-child(5) {
  background: url(img/desktop/image-from-above.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.creation-incont:nth-child(6) {
  background: url(img/desktop/image-pocket-borealis.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.creation-incont:nth-child(7) {
  background: url(img/desktop/image-curiosity.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
.creation-incont:nth-child(8) {
  background: url(img/desktop/image-fisheye.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}
}

.footer {
  padding: 2em;
  background: var(--black);
  }
.foot-link-cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
.foot-links {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
  margin: 2rem 0;
}
.foot-links li { margin: .25rem 0; }
.foot-link {
  color: var(--white);
  font-size: 1rem;
}
.social-links {
  display: flex;
  align-content: center;
  align-items: center;
  justify-content: center;
}
.social-links li { margin: 0 .4rem; }
.foot-right p {
  color: var(--dark-gray);
  font-size: .86rem;
  margin-top: 1rem;
  text-align: center;
}
@media (min-width: 59.375em) {
  .footer { padding: .3em; }
  .foot-link-cont { flex-direction: row; }
  .foot-links { 
    flex-direction: row; 
    margin: 0;
  }
  .foot-links li {
    margin: 0;
    margin-right: 1rem;
  }
  .social-links { justify-content: end; }
}

/*=== ANIMATIONS ===*/
.vr-guy, .vr-txt, .vr-txt p, .creation-incont { transition: 1s; }
@media (min-width: 59.375em) {
  .vr-guy {
  transform: translateX(-100%);
  }
  .vr-txt {
    transform: translateX(100%);
  }
  .vr-txt p {
    opacity: 1;
    transform: translateY(0);
  }
  .creation-incont:nth-child(2) { transition-delay: .25s;}
  .creation-incont:nth-child(3) { transition-delay: .5s;}
  .creation-incont:nth-child(4) { transition-delay: .75s;}
  .creation-incont:nth-child(5) { transition-delay: 1s;}
  .creation-incont:nth-child(6) { transition-delay: 1.25s;}
  .creation-incont:nth-child(7) { transition-delay: 1.5s;}
  .creation-incont:nth-child(8) { 
    transition-delay: 1.75s;

  }
}
:is(.vr-guy, .vr-txt).active { transform: translateX(0); }
.vr-txt p,
.foot-link,
.social-link {
    opacity: 0;
    transform: translateY(-.75em);
  }
:is(.vr-txt p, .foot-link, .social-link).active {
  opacity: 1;
  transform: translateY(0);
}
.creation-incont {
  opacity: 0;
  transform: translateX(-1.5rem);
}
.creation-incont.active {
  opacity: 1;
  transform: translateX(0);
}
.creation-incont:hover::after {
  box-shadow: inset 0 0 0 .5rem rgba(0,0,0,.5);
}
.title-cont::after {
  content: "";
  width: 0;
  height: 0;
  position: absolute;
  top: 0;
  left: 0;
  border: .125rem solid var(--white);
  border-right-width: 0;
  transition: height .75s,
              width 1s 1s,
              border-right-width .01s 1.88s;
  pointer-events: none;
}
.title-cont.active::after {
  width: 100%;
  height: 100%;
  border-right-width: .125rem;
  opacity: 1;
}
